<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mulk</title>
</head>
<body>
{% extends 'ustun.html' %}

{%block content%}
<h1>
Мулк (ТАБОРАК) Сураси
(Бисмиллах,ир Рахманир Рах,ийм)
1. Таба` рокал- лазий би- йадих,ил Мулку ва
х,ува ъала к,улли шай*ин к,одийр. 2.
Аллазий х,олак,ол мавта валх,а- айа` та
лийаблувакум аййукум ах,сана ъамала` , ва
х,увал ъазийзул г'офур. 3. Аллазий холако
сабъа сама` ва` тин тиба` к,о. Ма` таро`
фий холк,ир рах,мо` ни мин тафа` вут.
Фаржиъил- басоро х,ал таро` мин футу` р
</h1>

{%endblock content%}
</body>
</html>